@model IEnumerable<MVCEFExample.Models.Product>

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ProductDetails</h1>
@*<p>Hello @ViewBag.username</p>
*@
<p>
    <a asp-action="AddNewProd">Add New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supp.Sid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*<p><a asp-controller="Login" asp-action="logout">Logout</a></p>*@
